body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
     font-size: x-large;
    background-color: beige;
}

.a4-container {
    width: 300mm;
    height: 430mm;
    margin: 0 auto;
    padding: 20mm;
    background-color: white;
    border: 3px solid black; /* Border for the A4 page */
    box-sizing:initial; 
}

div {
    font-size: x-large;
}
.small-table {
    width: 50%; 
    font-size: smaller;
}
.table {
    font-size: x-large;
}
    .small-table th,
    .small-table td {
        padding: 5px; 
        
    }
.padding {
    padding-right: 22em;
}

.signature-container {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
    font-size: x-large;
    
}
.label {
    font-size: large;
}

@media print {
    body * {
        visibility: hidden;
    }

    #print-content, #print-content * {
        visibility: visible;
    }

    #print-content {
        position: absolute;
        left: 0;
        top: 0;
    }
}



.a4-container input {
width: 300px; 
}


.a4-container input[type="text"] {
height: 50px; 
line-height: 50px; 
margin:10px;
font-size:23px;
color:black;
}

.reportImage {
    width: 200px; 
    height: auto; 
}