

@model LoginViewModel
@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> Login and Registration Form in HTML & CSS | CodingLab </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="~/Admin/plugins/fontawesome-free/css/all.min.css">
    <link href="~/css/login.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="/Images/Logo/WhatsApp Image 2024-03-15 at 2.19.04 AM.jpeg" alt="">
                <div class="text">
                    <span class="text-1">الهضبه للسياحه </span>
                    <span class="text-2"> إحجز رحتلك</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Login</div>
                    <form asp-action="Login" asp-controller="Accounts" method="post">
                        @if (ViewBag.ErrorLogin == false)
                        {
                            <span class="alert alert-danger w-100">
                                @Localizer["lbMsgErrorLogin"]
                            </span>

                            <br /> <br />
                        }
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                 <input type="email" class="form-control" asp-for="Eamil" placeholder="Email">
                            </div>
                            <span class="text-danger" asp-validation-for="Eamil"></span>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                            </div>
                            <span class="text-danger" asp-validation-for="Password"></span>
                            <div class="button input-box">
                                <input type="submit" value="Sumbit">
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
